$widthSite: 1140px;
$colorBlack: #222;
$gapGrid: 24px;
$tridSide: ($widthSite - ($gapGrid * 2)) / 3;
$white: #fff;
$background: #F16D7F;
$document-font: 14px;
$title: 6rem;
$menu-drawer-width: 100vw;
$menu-drawer-font-color: #969AAD;
$menu-drawer-font-hover: #F16D7F;